.home {
  padding: 0 100px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 20px;
  padding: 20px 0px;
  background-color: aquamarine;
}

.buttons {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
}
